$colors: (
  body-bg: white,
  btn:rgb(57, 138, 2),
  hlt:rgb(7, 119, 184),
  text-color: rgb(172, 170, 179),
  head-color: black,
  head-text:black,
  logo: black,
);
$bck-img: url('../img/m-h-day.jpg') center center / cover no-repeat;
